<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
<!--      <tr> <td>Before</td> <td><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>-->
      <tr> <td>09:00</td>  <td>Introduction to HPC in MATLAB</td> </tr>
      <tr> <td>09:30</td>  <td>Running MATLAB on Sunbird</td> </tr>
      <tr> <td>10:10</td>  <td>Vectorization</td> </tr>
      <tr> <td>10:40</td>  <td>Coffee break</td> </tr>
      <tr> <td>11:00</td>  <td>MATLAB Parallel Computing Toolbox</td> </tr>
      <tr> <td>11:50</td>  <td>parfor</td> </tr>
      <tr> <td>12:40</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:40</td>  <td>spmd construct</td> </tr>
      <tr> <td>15:00</td>  <td>Coffee break</td> </tr>
      <tr> <td>15:20</td>  <td>Profiling to improve performance</td> </tr>
      <tr> <td>16:00</td>  <td>mpiprofile</td> </tr>
      <tr> <td>16:50</td>  <td>Summary</td> </tr>
    </table>
  </div>

</div>
